/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body {
  background-color: #000;
  color: #fff;
}

.pslo-courses-container, .faculty-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1 42%;
  margin: 5px;
  padding: 25px 25px 45px 25px;
  background-color: #fff;
  color: #000;
  border-radius: 3px;
}

#faculty-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

#faculty-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 40%;
  background-color: #000000;
  color: #fff;
  border-radius: 3px;
  padding: 15px 15px 35px 15px;
  margin: 5px;
  max-width: 300px;
}
