/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body {
  padding-top: 25px;
  background-color: #ecf0f1;
  max-width: 600px;
  margin: auto;
}

#main-title {
  text-align: center;
  font-size: 3.5rem;
}

#pslo ol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.pslo {
  flex-basis: 40%;
  flex-grow: 1;
  background-color: #16a085;
  padding: 10px;
  margin: 15px;
  color: #ffffff;
  list-style-type: none;
  box-shadow: 0px 2px 3px 0px #000;
  border-radius: 6px;
  transition: 0.3s ease;
}

.pslo:hover {
  transform: scale(1.08, 1.08);
}

#courses>ul {
  background-color: #f39c12;
  color: #111111;
  margin: 5px;
  padding: 20px 20px 100px 50px;
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

#faculty-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

#faculty-list>li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #3498db;
  list-style-type: none;
  flex-basis: 40%;
  flex-grow: 1;
  border-radius: 6px;
  box-shadow: 0px 2px 3px 0px #000;
  transition: 0.3s ease;
}

#faculty-list>li:hover {
  transform: scale(1.08, 1.08);
}

#validation {
  background-color: #2c3e50;
  color: #ffffff;
  border-radius: 6px 6px 0px 0px;
  padding: 10px;
}

#validation a {
  color: #3498db;
}

#style {
  position: fixed;
  background-color: #2c3e50;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;

}
 #style ul {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0px;
 }

 #style li {
   list-style-type: none;
 }

 #style li a {
   display: block;
   padding: 10px;
   margin: 5px;
   color: #ffffff;
 }
