/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body {
  padding: 30px;
  background-color: #aaaaaa;
}

.pslo-courses-container, .faculty-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1 45%;
  margin: 5px;
  padding: 15px;
}

#faculty-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

#faculty-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 40%;
  margin: 10px;
}
